@using FindMyRestaurant.Framework.Helpers

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta content="Philipp C. Moser" name="author" />

    <title>@ViewBag.Title - FindMyRestaurant</title>
    @Styles.Render("~/Content/Theme/Basic")
    @RenderSection("styles", required: false)

    @Html.Partial("~/Views/Shared/Components/Partial/_GoogleAnalytics.cshtml")


    <link rel="icon" type="image/png" sizes="100x100" href="@FileHelper.BuildImageUrl("4a5b63cd-c7e2-4da7-93d5-f9b2c6ae1584", "png")">

</head>
<body>

    <!-- Navigation -->
    @Html.Partial("~/Views/Shared/Layout/Partial/_TopNavigation.cshtml")
    <!-- ./ Navigation -->

    @RenderBody()

    <!-- Footer Start -->
    @Html.Partial("~/Views/Shared/Layout/Partial/_Footer.cshtml")
    <!-- end Footer -->



    @Scripts.Render("~/bundles/Theme/Basic")
    @RenderSection("scripts", required: false)

    <script type="text/javascript">
        $('#submit-app-search').on('click', function () {

            

        });
    </script>
</body>
</html>
