<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta content="Philipp C. Moser" name="author" />

    <title>@ViewBag.Title - FindMyRestaurant</title>
    @Styles.Render("~/Content/Theme/Basic")
</head>
<body>

    <!-- Navigation -->
    @Html.Partial("~/Views/Shared/Layout/Partial/_TopNavigation.cshtml")
    <!-- ./ Navigation -->

    @RenderBody()



    <!-- Footer Start -->
    <footer class="footer">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-6">
                    2020 &copy; FindMyRestaurant</a>
                </div>
                <div class="col-md-6">
                    <div class="text-md-right footer-links d-none d-sm-block">
                        <a href="">Impressum</a>
                        <a href="">Datenschutz</a>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!-- end Footer -->



    @Scripts.Render("~/bundles/Theme/Basic")
    @RenderSection("scripts", required: false)
</body>
</html>
